
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; 
}

body {
  font-family: "Bebas Neue", sans-serif; 
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdf5f2; 
  color: #2c2c2c; 
}


img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}


input, button, textarea, select {
  font: inherit;
}


button {
  border: none;
  background: none;
  cursor: pointer;
}
